@container-width: 800px;
@nav-height: 70px;
@body-background-color: #EEEEEE;
@container-background-color: white;
@container-border-radius: 10px;
@container-padding-bottom: 20px;


body {
  padding-top: @nav-height;
  background-color: @body-background-color;
}

.container {
  width: @container-width;  
}

#container-main {
   -webkit-border-radius: @container-border-radius;
	-moz-border-radius: @container-border-radius;
	border-radius: @container-border-radius;
  background-color: @container-background-color;  
  padding-bottom: @container-padding-bottom;
}